/* Document styling */
body {
  background-color: #fff;
  font-family: helvetica, sans-serif;
  font-weight: 100;
  font-size: 12px;
}

#wrapper {
  width: 1250px;
  margin: 0 auto;
  position: relative;
}

#chart {
  position: absolute;
  top: 100px;
  left: 140px;
  width: 900px;
  /*margin: 25px auto;*/
}

#title {
  position: absolute;
  top: 0;
  left: 209px;
  font-size: 20px;
  letter-spacing: -2px;
  line-height: 100%;
}

#about {
  position: absolute;
  top: 55px;
  left: 210px;
  width: 850px;
  font-size: 12px;
}


#menu1 {
  position: absolute;
  top: 160px;
  left: 5px;
  width: 100px;
}

#menu2 {
  position: absolute;
  top: 300px;
  left: 5px;
  width: 100px;
}

#countries {
  position: absolute;
  top: 40px;
  left: 1100px;
  width: 100px;

}

#tooltip {
        position: absolute;
        width: 200px;
        height: auto;
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.7);
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
        pointer-events: none;
}

#tooltip.hidden {
        display: none;
}

#tooltip p {
		color:#eee;
        margin: 0;
        font-family: sans-serif;
        font-size: 14px;
        line-height: 20px;
}


li, h1, h2 {
  font-weight: 100;
}

h2 {
  font-size: 11px;
  margin: 0;
  color: #666;
}

ul {
  list-style: none;
  font-size: 12px;
  padding: 0;
  margin-top: 3px;
}

li {
  cursor: pointer;
  padding-bottom: 5px;
}

li:hover {
  color: #06C;
  font-weight: bold;
}

li.preview {
  font-weight: 400;
}

li.selected {
  font-weight: bold;
}


#countries li {
  font-size: 9px;
  padding-bottom: 0px;
}

