/* Document styling */
body {
  background-color: #fff;
  font-family: helvetica, sans-serif;
  font-weight: 100;
}

#wrapper {
  width: 1250px;
  margin: 0 auto;
  position: relative;
}

#chart {
  position: absolute;
  top: 30px;
  left: 10px;
  width: 900px;
  /*margin: 25px auto;*/
}

#title {
  position: absolute;
  top: 0;
  left: 520px;
  font-size: 16px;
  letter-spacing: -2px;
  line-height: 100%;
}

#about {
  position: absolute;
  top: 265px;
  left: 10px;
  width: 280px;
  font-size: 12px;
}


#menu1 {
  position: absolute;
  top: 100px;
  left: 10px;
  width: 140px;
}

#menu2 {
  position: absolute;
  top: 100px;
  left: 150px;
  width: 140px;
}

#countries {
  position: absolute;
  top: 20px;
  left: 1220px;
  width: 100px;
}




li, h1, h2 {
  font-weight: 100;
}

h2 {
  font-size: 11px;
  margin: 0;
  color: #666;
}

ul {
  list-style: none;
  font-size: 12px;
  padding: 0;
  margin-top: 3px;
}

li {
  cursor: pointer;
  padding-bottom: 5px;
}

li:hover {
  color: #06C;
  font-weight: bold;
}

li.preview {
  font-weight: 400;
}

li.selected {
  font-weight: bold;
}


#countries li {
  font-size: 9px;
  padding-bottom: 0px;
}

